body
{
        height: 150%;
        margin: 0%;  
}

.home
{
        background-image: url(./assets/images/Background.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover cover;
        height: 100rem;
}

.header
{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,39,43,1) 0%);
        display: flex;
        padding: 20px 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        opacity: 60%;
        z-index: 100%;
}

 .logo 
{
        font-family: 'Martian Mono', monospace;
        color: white;
        font-weight: 600;
        font-size: 25px;
        text-decoration: none;
        width: 25%;
 }
.navbar a
{
        font-family: 'Martian Mono', monospace;
        color: antiquewhite;
        text-decoration: none ;
        padding-right: 30px;
        
}

#intro
{
        color: white;
        margin-left: 5rem;
        margin-top: 8rem;
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        font-family: 'Caveat', cursive;
}

#name
{
        font-size: 40px;
        margin-right: 20px;
}
#myself
{
        color: azure;
        font-family: 'Martian Mono', monospace;
        margin-left: 80px;
        margin-top: -2em;
        font-size: 1.9vh;
}

.app-img
{
        width:350px;
        margin-left: 50px;
        border: 5px solid black;
}
.hack-img
{
        width:350px;
        margin-left: 50px;
        border: 5px solid black;
}
.app-title
{
        color: white;
        margin-left: 15px;
        font-family: 'Caveat', cursive;
        font-weight: bolder;
        font-size: 2rem;
}
.contacts 
{
        margin-top: 15rem;
        text-align: center;
        font-family: 'Martian Mono', monospace;
        border: 2px solid white;
        margin-left: 120px;
        margin-right: 120px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,128,139,0.6334908963585435) 0%);
        
        
}
.contacts a,p
{
        text-decoration: none;
        color: aliceblue;
        font-size: 2rem;
        font-family: 'Caveat', cursive;

}
